.form-vacancies-checkbox.active:before {
    border: 1px solid red;
}
.offer-slide {
    display: flex;
    justify-content: center;
    padding-top: 6.2rem;
}
.video-conteiner .swiper-slide-link {
    display: block!important;
}
.video-conteiner iframe {
    pointer-events: none;
}
.webinar-wrapper.add {
    justify-content: space-between;
}
.webinar-wrapper.add .helpful-col-1{
    width: 43%;
}
.header-logo {
    cursor: pointer;
}
.stock-banner-large-img {
    width: 50%;
}
.desk {
    display: flex;
}

.mob {
    display: none;
}
.team-avatar {
    cursor: pointer;
}
.stocks-wrapper img{
    display: block;
    height: 6.2rem;
    width: 7rem;
    margin-bottom: 3rem;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
}

.submit-application {
    cursor: pointer;
}

.categories-item-wrap {
    margin-bottom: 2.5rem;
    padding-right: 3rem;
    position: relative;
}
.modal-vopros .submit-title:before{
    background-image: url(../img/vopros.svg);
}
.pokazat-tceny {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.show-more {
    display: none;
}
.show-more.active {
    display: block!important;
}
.tabs-blocks {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    width: 140rem;
}
#tab-2 {
    display: none;
}
.btn-hint {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 3rem;
    text-align: center;
    width: 60rem;
    height: 20rem;
    background: white;
    border-radius: 2rem;
    z-index: 10;

    font-size: 2rem;
    font-weight: 500;
    font-family: 'Gotham Pro', sans-serif;
}
.btn-hint span {
    color: red;
    display: inline-block;
    width: 4rem;
}
.tab-item-block {
    display: none;
}
.tab-item-block.active {
    display: block;
}
 .ymaps-2-1-76-balloon__layout {
    width: 33rem;
    border-radius: 2.3rem;
    box-shadow: 0.2rem 1.7rem 6.5rem 0 rgba(23, 23, 23, 0.07)!important;
}
.map-block .ymaps-2-1-76-balloon {
    box-shadow: none;
}
 .nakarte .address-card {
    box-shadow: none;
    margin: 0;
}
.nakarte {
    font-size: 1.6rem;
    font-family: 'Gotham Pro', 'Myriad Pro', sans-serif;
}
.nakarte .address-card-btn,
.nakarte .address-card-text-medium {
    font-weight: 700;
}
.address-card.nakarte {
    margin: 0;
    height: 100%;
}

h3 {
    font-size: 2.5rem;
    font-weight: 500;
    margin: 1rem 0;
}
.seo-container p a{
    font-size: 2rem;
    font-weight: 500;
}
.seo-container p a:hover{
    color: #1da1f2;
}
a.disabled {
    pointer-events: none;
    cursor: default;
    color: #888;
}
.download-doc img {
    width: 2rem;
}
.download-doc {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 2.5rem;
}
.document-name {
    margin-right: 0.5rem;
    margin-left: 1rem;
}
.delit-file {
    margin-left: 1rem;
    cursor: pointer;
}
.rating_count td {
    display: inline-block;
    margin-left: 1rem;
}
.star-voted {
    position: relative;
    cursor: pointer;
    width: 2.8rem;
    height: 2.8rem;
    padding: 0;
    background-image: url(../img/svg/star-fill-purple.svg);
}
.star-empty {
    position: relative;
    cursor: pointer;
    width: 2.8rem;
    height: 2.8rem;
    padding: 0;
    background-image: url(../img/svg/star-stroke-black.svg);
}
.calc-tab-2 {
    display: none;
    font-size: 2rem;
    margin: 2rem 0;
}
.calc-tab-2 span {
    display: block;
}

.rub {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.modal-other-f {
    padding-top: 10.6rem;
}

.article-img-wrap {
    justify-content: center;
}

.banner-btn {
    margin-top: 2rem;
}

.large-card_yellow.large-card_test-drive::after {
    background-position: center 1.5rem;
}

.header-nav-item-link {
    position: relative;
}

.header-nav-item.active::after {
  content: none;
}

.header-nav-item.active .header-nav-item-link::before,
.header-nav-item-link:hover::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.9rem;
    /*width: calc(100% - 3.6rem);*/
    width: 100%;
    height: 2px;
    background-color: #9f41ff;
}

.hidden-menu-wrapper {
    position: relative;
}

.hidden-menu-wrapper .close-btn {
    right: 0;
}
#perviy_platezh-mob,
#value__result-old-mob,
#result_price-mob {
    display: none;
}
#perviy_platezh,
#value__result-old-desc,
#result_price {
    display: inline-block;
}

.seo ol li {
    padding-left: 0;
    font-size: 1.8rem;
    line-height: 3rem;
}

.seo ol li::before {
    content: none;
}

.district-line--center .district-line-item {
    justify-content: center;
}

.space-evenly .swiper-wrapper {
    justify-content: center!important;
}

.main-slider {
  overflow-x: hidden;
}

.calculator-value__result-old {
    color: #6b6b6f;
}

.calculator-value__result-old::before {
    background-color: #6b6b6f;
}

.calculator-value__result-new span {
    font-weight: 700;
}

.open-form-arrow {
    width: 5rem;
    height: 3.3rem;
    background-image: url('../img/svg/right-arrow-purple.svg');
    background-size: cover;
}

.reviews-tab-select {
    display: none;
    position: relative;
}

@media (max-width: 48em) {
    /* reviews start */
    .reviews-tab-select {
        display: block;
    }

    .reviews-tab-select {
        display: block;
    }

    .reviews-tabs {
        top: 33rem;
        z-index: 10;
        position: absolute;
        /*display: block;*/
        display: none;
        width: 100%;
        max-width: none;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        border-radius: 3.6rem;
        overflow: hidden;
    }

    .reviews-tab {
        max-width: none;
    }

    .reviews-tabs-block {
        width: 100%;
        margin-right: 0;
        margin-bottom: 13rem;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 7rem;
        border-radius: 3.6rem;
    }

    .revews-tab-link {
        /*display: none;*/
        text-align: left;
        font-size: 3rem;
        font-weight: 500;
        line-height: 1.2;
        padding: 2.5rem;
        border-radius: 0;
        border: 2px solid transparent;
        background-color: #fff;
        transition: 0.2s;
    }

    .revews-tab-link.active {
        display: block;
        border-color: transparent;
    }

    .reviews-tab-select::after {
        content: '';
        display: block;
        position: absolute;
        right: 4.8rem;
        width: 2.6rem;
        height: 1.7rem;
        top: 50%;
        transform: translateY(-0.5rem);
        background-image: url(../img/select-arrow.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
    }

    .reviews-tab-select.active::after {
        transform: translateY(-0.5rem) rotate(180deg);
    }

    /* reviews end */

    .offer-slide {
        display: none;
    }
    .modal .modal-other-filial__list {
        flex-direction: row;
        height: 28rem;
        /*overflow-x: scroll;*/
    }

    .btn-submit .right-velvet-icon {
        margin-left: 3.5rem;
    }

    .price.velvet-color {
        padding: 0;
    }

    .district-line-item {
      /*overflow-x: scroll;*/
    }

    .mobile-address-block.active {
      padding-bottom: 14rem;
    }

    #tab-2 {
      padding-bottom: 10rem;
    }

    .ymaps-2-1-76-balloon__layout {
        width: 100%;
    }
    #perviy_platezh,
    #value__result-old-desc,
    #result_price {
        display: none;
    }
    #perviy_platezh-mob,
    #value__result-old-mob,
    #result_price-mob {
        display: inline-block;
    }
    .banner-btn {
        margin-top: 1rem;
    }
    .seo ol li {
        font-size: 1.8rem;
        line-height: 3rem;
    }
    h3 {
        font-size: 4rem;
    }
    .load-items {
        display: none;
    }
    .tabs-blocks {
        width: 100%;
    }
    .btn-hint {
        width: 90%;
        height: 26rem;
        font-size: 3rem;
    }

    .btn-hint span {
        font-size: 4rem;
        font-weight: 800;
    }
    .webinar-wrapper.add .helpful-col-1 {
        width: 100%;
    }
    .helpful.video-conteiner .helpful-col-1 {
        width: 100%;
        margin-bottom: 3rem;
    }

    .desk {
        display: none;
    }

    .mob {
        display: flex;
    }

    .download-doc img {
        width: 3rem;
    }
    .download-doc {
        margin-bottom: 3rem;
    }
    .document-name {
        margin-right: 1rem;
        margin-left: 2rem;
    }
    .footer-middle-col-item {
        margin: 2rem 0;
    }

}